Template: home

.bio
  Ryan works at
  %a(href="http://spreedly.com") Spreedly
  where he designs, develops and documents payment processing systems.

%h2 Posts
%ol.index.posts
  - latest_articles(10).each do |article|
    %li
      %span.header= format_date(article.date)
      %span.arrow &raquo;
      %span.main
        %a(href="#{article.abspath}")= article.title || article.heading
      %span.meta
        %a(href="#{article.abspath}#disqus_thread")

%h2 Projects
%ol.index.projects
  %li
    %span.header 2014 - current
    %span.arrow &raquo;
    %span.main
      %a(href="https://github.com/Shopify/active_merchant/") Active Merchant
      %span.reference
        as a
        %a(href="https://github.com/Shopify/active_merchant/commits?author=rwdaigle") contributor
  %li
    %span.header 2013 - current
    %span.arrow &raquo;
    %span.main
      %a(href="https://github.com/rwdaigle/heroku-buildpack-github-markdown") Github Markdown Buildpack
      %span.reference
        as the creator
  %li
    %span.header 2012 - current
    %span.arrow &raquo;
    %span.main
      %a(href="https://github.com/rwdaigle/heroku-log-parser") Heroku Log Parser
      %span.reference
        as the creator
  %li
    %span.header 2007 - 2008
    %span.arrow &raquo;
    %span.main
      %a(href="https://github.com/rails/rails/") Ruby on Rails
      %span.reference
        as a
        %a(href="http://contributors.rubyonrails.org/contributors/ryan-daigle/commits") contributor

%h2 Elsewhere
%ol.index.articles
  %li
    %span.header 30 April 2014
    %span.arrow &raquo;
    %span.main
      %a(href="http://blog.spreedly.com/2014/04/30/announcing-payment-method-distribution/") Announcing Payment Method Distribution
      %span.reference
        on
        %a(href="http://blog.spreedly.com") The Spreedly Blog
  %li
    %span.header 15 August 2013
    %span.arrow &raquo;
    %span.main
      %a(href="https://blog.heroku.com/archives/2013/8/15/twelve-factor-apps") Building Twelve Factor Apps on Heroku
      %span.reference
        on
        %a(href="https://blog.heroku.com") The Heroku Blog
  %li
    %span.header 24 April 2013
    %span.arrow &raquo;
    %span.main
      %a(href="https://devcenter.heroku.com/articles/increasing-application-performance-with-http-cache-headers") Increasing Application Performance with HTTP Cache Headers
      %span.reference
        on
        %a(href="https://devcenter.heroku.com") The Heroku Devcenter
  %li
    %span.header 28 February 2013
    %span.arrow &raquo;
    %span.main
      %a(href="http://www.miyagijournal.com/articles/five-steps-application-logging/") 5 Steps to Better Application Logging
      %span.reference
        on
        %a(href="http://www.miyagijournal.com/") The Miyagi Journal
  %li
    %span.header 09 November 2012
    %span.arrow &raquo;
    %span.main
      %a(href="http://www.higherorderheroku.com/articles/cloudflare-dns-heroku/") Configuring CloudFlare DNS for a Heroku App
      %span.reference
        on
        %a(href="http://www.higherorderheroku.com/") Higher Order Heroku
  %li
    %span.header 10 July 2012
    %span.arrow &raquo;
    %span.main
      %a(href="http://www.higherorderheroku.com/articles/using-vulcan-to-build-binary-dependencies-on-heroku/") Building Dependency Binaries for Heroku Applications
      %span.reference
        on
        %a(href="http://www.higherorderheroku.com/") Higher Order Heroku
  %li
    %span.header 2006 - 2010
    %span.arrow &raquo;
    %span.main
      %a(href="http://archives.ryandaigle.com/tags/Edge%20Rails") What's New in Edge Rails
      %span.reference
        on
        %a(href="http://archives.ryandaigle.com") the old ryandaigle.com

:javascript
  var disqus_shortname = '#{Nesta::Config.disqus_short_name}';

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
